<h4>Graph</h4>
<table>
 <% @graph.canvas.each do |row| %>
  <tr>
    <% row.each do |value| %>
        <td class="graph" bgcolor="<%= @graph.yarn_color(value) %>"></td>
    <% end %>
  </tr>
 <% end %>
</table>

<h4>Frequency table</h4>
<table>
  <% @graph.display_frequency_table.each do |color, percentage| %>
    <tr>
      <td><%= color %></td>
      <td><%= percentage %>%</td>
    </tr>
  <% end %>
</table>

<style>
  table {
    padding: 15px;
    width: 100%;
  }
  td {
    outline: 2px solid;
    height: 25px;
  }
  .graph {
    outline: black 2px solid;
  }
</style>
